head
  title WebGL Ripples
  link(rel="stylesheet" href="/styles.css")
body
  canvas(id="canvas")
  img(src="/pond.jpg", id="pond-img", style="display:none;")
  script(type="text/javascript", src="/ripple.js")
